{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper mt-5 pt-5 bg-white">
  {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} mb-2">{{ message }}</div>
        {% endfor %}
      {% endif %}
  <div class="row">
    <div class="col-md-8 offset-md-2 grid-margin stretch-card">
      <div class="card shadow border-0">
        <div class="card-body">
          <h4 class="card-title">Bulk Users Move</h4>
          <p class="card-description">
            Upload an Excel file to move multiple users at once.
          </p>
          <small class="text-muted">Expected columns: username, target_ou</small>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="file">Upload Excel File (.xlsx)</label>
              <input type="file" name="file" id="file" accept=".xlsx" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Upload</button>
            <a href="{% static 'assets/samples/bulk_move_users_template.xlsx' %}" class="btn btn-outline-secondary mt-3 ml-2">
              Download Sample File
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
