{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper mt-5 pt-5 bg-white">
  <div class="row">
    <div class="col-md-6 offset-md-3 grid-margin stretch-card">
      <div class="card shadow border-0">
        <div class="card-body">
          <h4 class="card-title">Move Single Group</h4>
          <p class="card-description">Move a group to a different OU.</p>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Group Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="group_name" required>
            </div>
            <div class="form-group">
              <label>Target OU DN <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="target_ou" required>
            </div>
            <button type="submit" class="btn btn-secondary">Move Group</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
