{% extends 'layout.html' %}
{% load static %}
{% block title %}Group Management{% endblock %}

{% block content %}
    <div class="content-wrapper mt-5 pt-5 bg-white">
        <h4 class="mb-3">Group Management</h4>
        <p class="text-muted">Choose an action below to manage groups</p>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border">
                    <div class="card-body">
                        <h5 class="card-title">Create Group</h5>
                        <p class="card-text">Add a new group to the system.</p>
                        <a href="{% url 'create_single_group' %}" class="btn btn-primary btn-sm">Single Group</a>
                        <a href="{% url 'create_bulk_groups' %}" class="btn btn-outline-primary btn-sm">Bulk Groups</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                  <div class="card shadow-sm border">
                    <div class="card-body">
                        <h5 class="card-title">Update Group</h5>
                        <p class="card-text">Modify existing group details.</p>
                      <a href="{% url 'update_single_group' %}" class="btn btn-warning btn-sm">Single Group</a>
                      <a href="{% url 'update_bulk_groups' %}" class="btn btn-outline-warning btn-sm">Bulk Groups</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card shadow-sm border">
                    <div class="card-body">
                        <h5 class="card-title">Delete Group</h5>
                        <p class="card-text">Remove groups from the system.</p>
                        <a href="{% url 'delete_single_group' %}" class="btn btn-dark btn-sm">Single Group</a>
                      <a href="{% url 'delete_bulk_groups' %}" class="btn btn-outline-dark btn-sm">Bulk Groups</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border">
                    <div class="card-body">
                        <h5 class="card-title">Move Groups</h5>
                        <p class="card-text">Transfer group accounts to a different OU.</p>
                        <a href="{% url 'move_single_group' %}" class="btn btn-secondary btn-sm">Single Group</a>
                      <a href="{% url 'move_bulk_groups' %}" class="btn btn-outline-secondary btn-sm">Bulk Groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
