{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper mt-5 pt-5 bg-white">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card shadow border-0">
        <div class="card-body">
          <h4 class="card-title">Bulk Update Computers</h4>
          <p class="card-description">Upload an Excel file to update multiple computers.</p>
          <small class="text-muted">Expected columns: computer_name, description</small>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="excelFile">Select Excel File</label>
              <input type="file" name="excel_file" class="form-control" id="excelFile" required>
            </div>
            <button type="submit" class="btn btn-warning">Update Computers</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
